image: node:14.19.0-alpine

variables:
  REIMAGINED_STAGING_IMAGE_NAME: sendy-docker-local.jfrog.io/vue-partner-portal-reimagined:latest_$CI_COMMIT_SHORT_SHA
  VUE_APP_PORTAL: sendy:partner
  VUE_APP_PARTNER_BFF: https://partner-bff-test.sendyit.com/api/v1/
  MAPS_API_KEY: AIzaSyBWMVg9uhO7-BieEMUB3cVzm9O78RGtugo

stages:
  - test
  - buildpush

test:staging:
  image: cypress/base:14.16.0
  stage: test
  tags:
    - docker
  cache:
    paths:
      - .npm
      - /root/.cache/Cypress

  script:
    - npm ci --prefer-offline
    - npx cypress cache path
    - npx cypress cache list
    - npm run test
    - npm run coverage
  only:
    - staging

buildpush:staging:
  stage: buildpush
  tags:
    - shell
  before_script:
    - export REIMAGINED_STAGING_IMAGE_FLUX="sendy-docker-local.jfrog.io/vue-partner-portal-reimagined:dev_$(date +%Y-%m-%d-%H-%M)"
  script:
    - docker build  --build-arg VUE_APP_PORTAL='sendy:partner'  --build-arg VUE_APP_PARTNER_BFF='https://partner-bff-test.sendyit.com/api/v1/' --build-arg VUE_APP_GOOGLE_CLIENT_ID='693530769708-t8ibd43rpavia989f7n95dqtcps5rt33.apps.googleusercontent.com' -t $REIMAGINED_STAGING_IMAGE_NAME -t $REIMAGINED_STAGING_IMAGE_FLUX -f Dockerfile .
    - docker push $REIMAGINED_STAGING_IMAGE_NAME
    - docker push $REIMAGINED_STAGING_IMAGE_FLUX
  only:
    - staging



buildpush:prod:
  stage: buildpush
  tags:
    - shell
  before_script:
    - export REIMAGINED_PROD_IMAGE_FLUX="sendy-docker-local.jfrog.io/vue-partner-portal-reimagined:prod_$(date +%Y-%m-%d-%H-%M)"
    - export REIMAGINED_PROD_IMAGE_NAME="sendy-docker-local.jfrog.io/vue-partner-portal-reimagined:prod_$(date +%Y-%m-%d-%H-%M)"
  script:
    - docker build  --build-arg VUE_APP_PORTAL='sendy:partner'  --build-arg VUE_APP_PARTNER_BFF=https://partner-bff-test.sendyit.com/api/v1/ --build-arg VUE_APP_GOOGLE_CLIENT_ID='693530769708-t8ibd43rpavia989f7n95dqtcps5rt33.apps.googleusercontent.com' -t $REIMAGINED_PROD_IMAGE_NAME -t $REIMAGINED_PROD_IMAGE_FLUX -f Dockerfile .
    - docker push $REIMAGINED_PROD_IMAGE_NAME
    - docker push $REIMAGINED_PROD_IMAGE_FLUX
  only:
    - main